<a routerLink="/new">Add an author</a>
<table class="table">
    <thead>
        <tr>
            <th>Author</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of authors; i as index">
            <td>
                <a>{{ a.name }}</a>
            </td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/edit/',a._id]">Edit</button>
                <button class="btn btn-primary" (click)="delete(a._id, i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>